--
-- PostgreSQL database dump
--

\restrict IXeyuxjWEc8cNXciD28RoDnw4aIJhMrr4rAu5HwId4hyy83qXOv6I4E2qUOI29O

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: log_action; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.log_action AS ENUM (
    'login',
    'logout',
    'register',
    'upload_image',
    'delete_image',
    'create_group',
    'update_group',
    'delete_group',
    'approve_request',
    'reject_request',
    'update_user',
    'delete_user',
    'create_branch',
    'update_branch',
    'delete_branch',
    'create_announcement',
    'update_announcement',
    'delete_announcement'
);


--
-- Name: request_status; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.request_status AS ENUM (
    'pending',
    'approved',
    'rejected'
);


--
-- Name: user_role; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.user_role AS ENUM (
    'user',
    'operator',
    'admin'
);


--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
  NEW.updated_at = NOW();
  RETURN NEW;
END;
$$;


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: access_requests; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.access_requests (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    branch_id uuid,
    shop_name character varying(255) NOT NULL,
    note text,
    status public.request_status DEFAULT 'pending'::public.request_status NOT NULL,
    reject_reason text,
    reviewed_by uuid,
    reviewed_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: accounts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.accounts (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    type character varying(255) NOT NULL,
    provider character varying(255) NOT NULL,
    provider_account_id character varying(255) NOT NULL,
    refresh_token text,
    access_token text,
    expires_at bigint,
    token_type character varying(255),
    scope character varying(255),
    id_token text,
    session_state character varying(255),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: announcement_images; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.announcement_images (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    announcement_id uuid NOT NULL,
    image_path text NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: announcements; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.announcements (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    title character varying(255) NOT NULL,
    body text,
    image_path text,
    is_published boolean DEFAULT true NOT NULL,
    publish_at timestamp with time zone,
    expire_at timestamp with time zone,
    created_by uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: branches; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.branches (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255) NOT NULL,
    code character varying(50) NOT NULL,
    description text,
    is_active boolean DEFAULT true NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: price_group_images; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.price_group_images (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    price_group_id uuid NOT NULL,
    file_path text NOT NULL,
    file_name character varying(255),
    file_size integer,
    mime_type character varying(100),
    title character varying(255),
    sort_order integer DEFAULT 0 NOT NULL,
    uploaded_by uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: price_groups; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.price_groups (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    branch_id uuid,
    telegram_chat_id character varying(100),
    is_active boolean DEFAULT true NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: sessions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.sessions (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    session_token character varying(255) NOT NULL,
    user_id uuid NOT NULL,
    expires timestamp with time zone NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: user_branches; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_branches (
    user_id uuid NOT NULL,
    branch_id uuid NOT NULL,
    assigned_by uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: user_group_access; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_group_access (
    user_id uuid NOT NULL,
    price_group_id uuid NOT NULL,
    granted_by uuid,
    expires_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: user_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_logs (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid,
    action public.log_action NOT NULL,
    entity_type character varying(50),
    entity_id uuid,
    details jsonb DEFAULT '{}'::jsonb,
    ip_address inet,
    user_agent text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    provider_id character varying(255) NOT NULL,
    provider character varying(50) DEFAULT 'line'::character varying NOT NULL,
    name character varying(255),
    email character varying(255),
    image text,
    role public.user_role DEFAULT 'user'::public.user_role NOT NULL,
    shop_name character varying(255),
    phone character varying(50),
    address text,
    bank_info jsonb DEFAULT '{}'::jsonb,
    note text,
    is_active boolean DEFAULT true NOT NULL,
    email_verified_at timestamp with time zone,
    last_login_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: verification_tokens; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.verification_tokens (
    identifier character varying(255) NOT NULL,
    token character varying(255) NOT NULL,
    expires timestamp with time zone NOT NULL
);


--
-- Data for Name: access_requests; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: accounts; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.accounts (id, user_id, type, provider, provider_account_id, refresh_token, access_token, expires_at, token_type, scope, id_token, session_state, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: announcement_images; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: announcements; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: branches; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: price_group_images; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: price_groups; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.price_groups (id, name, description, branch_id, telegram_chat_id, is_active, sort_order, created_at, updated_at) FROM stdin;
00000000-0000-0000-0000-000000000002	เธฃเธฒเธเธฒเธเธฃเธฐเธ”เธฒเธฉ	เธฃเธฒเธเธฒเธเธฃเธฐเธ”เธฒเธฉเธฅเธฑเธ เธเธฅเนเธญเธ เธ—เธธเธเธเธเธดเธ”	\N	\N	t	2	2026-02-02 21:12:59.501187+07	2026-02-02 21:12:59.501187+07
00000000-0000-0000-0000-000000000001	เธฃเธฒเธเธฒเธเธฅเธฒเธชเธ•เธดเธ	เธฃเธฒเธเธฒเธเธฅเธฒเธชเธ•เธดเธเธเธฒเธง เธเธฒเธงเนเธ”เธ เธ—เธธเธเธเธเธฒเธ”	\N	-5071142419	t	1	2026-02-02 21:12:59.501187+07	2026-02-03 00:13:22.988093+07
\.


--
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.sessions (id, session_token, user_id, expires, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: user_branches; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: user_group_access; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: user_logs; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: verification_tokens; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.verification_tokens (identifier, token, expires) FROM stdin;
\.


--
-- Name: access_requests access_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.access_requests
    ADD CONSTRAINT access_requests_pkey PRIMARY KEY (id);


--
-- Name: accounts accounts_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.accounts
    ADD CONSTRAINT accounts_pkey PRIMARY KEY (id);


--
-- Name: accounts accounts_provider_unique; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.accounts
    ADD CONSTRAINT accounts_provider_unique UNIQUE (provider, provider_account_id);


--
-- Name: announcement_images announcement_images_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.announcement_images
    ADD CONSTRAINT announcement_images_pkey PRIMARY KEY (id);


--
-- Name: announcements announcements_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.announcements
    ADD CONSTRAINT announcements_pkey PRIMARY KEY (id);


--
-- Name: branches branches_code_unique; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.branches
    ADD CONSTRAINT branches_code_unique UNIQUE (code);


--
-- Name: branches branches_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.branches
    ADD CONSTRAINT branches_pkey PRIMARY KEY (id);


--
-- Name: price_group_images price_group_images_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.price_group_images
    ADD CONSTRAINT price_group_images_pkey PRIMARY KEY (id);


--
-- Name: price_groups price_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.price_groups
    ADD CONSTRAINT price_groups_pkey PRIMARY KEY (id);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (id);


--
-- Name: sessions sessions_session_token_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_session_token_key UNIQUE (session_token);


--
-- Name: user_branches user_branches_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_branches
    ADD CONSTRAINT user_branches_pkey PRIMARY KEY (user_id, branch_id);


--
-- Name: user_group_access user_group_access_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_group_access
    ADD CONSTRAINT user_group_access_pkey PRIMARY KEY (user_id, price_group_id);


--
-- Name: user_logs user_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_logs
    ADD CONSTRAINT user_logs_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_provider_unique; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_provider_unique UNIQUE (provider, provider_id);


--
-- Name: verification_tokens verification_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.verification_tokens
    ADD CONSTRAINT verification_tokens_pkey PRIMARY KEY (identifier, token);


--
-- Name: verification_tokens verification_tokens_token_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.verification_tokens
    ADD CONSTRAINT verification_tokens_token_key UNIQUE (token);


--
-- Name: idx_access_requests_created; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_access_requests_created ON public.access_requests USING btree (created_at DESC);


--
-- Name: idx_access_requests_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_access_requests_status ON public.access_requests USING btree (status) WHERE (status = 'pending'::public.request_status);


--
-- Name: idx_access_requests_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_access_requests_user ON public.access_requests USING btree (user_id);


--
-- Name: idx_accounts_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_accounts_user ON public.accounts USING btree (user_id);


--
-- Name: idx_announcement_images_announcement; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_announcement_images_announcement ON public.announcement_images USING btree (announcement_id, sort_order);


--
-- Name: idx_announcements_published; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_announcements_published ON public.announcements USING btree (is_published, created_at DESC) WHERE (is_published = true);


--
-- Name: idx_branches_active; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_branches_active ON public.branches USING btree (is_active, sort_order);


--
-- Name: idx_price_group_images_created; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_price_group_images_created ON public.price_group_images USING btree (created_at DESC);


--
-- Name: idx_price_group_images_group; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_price_group_images_group ON public.price_group_images USING btree (price_group_id, sort_order);


--
-- Name: idx_price_groups_active; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_price_groups_active ON public.price_groups USING btree (is_active, sort_order);


--
-- Name: idx_price_groups_branch; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_price_groups_branch ON public.price_groups USING btree (branch_id) WHERE (is_active = true);


--
-- Name: idx_sessions_token; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_sessions_token ON public.sessions USING btree (session_token);


--
-- Name: idx_sessions_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_sessions_user ON public.sessions USING btree (user_id);


--
-- Name: idx_user_branches_branch; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_user_branches_branch ON public.user_branches USING btree (branch_id);


--
-- Name: idx_user_group_access_group; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_user_group_access_group ON public.user_group_access USING btree (price_group_id);


--
-- Name: idx_user_logs_action; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_user_logs_action ON public.user_logs USING btree (action);


--
-- Name: idx_user_logs_created; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_user_logs_created ON public.user_logs USING btree (created_at DESC);


--
-- Name: idx_user_logs_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_user_logs_user ON public.user_logs USING btree (user_id) WHERE (user_id IS NOT NULL);


--
-- Name: idx_users_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_users_created_at ON public.users USING btree (created_at DESC);


--
-- Name: idx_users_provider_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_users_provider_id ON public.users USING btree (provider_id);


--
-- Name: idx_users_role; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_users_role ON public.users USING btree (role) WHERE (is_active = true);


--
-- Name: access_requests tr_access_requests_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER tr_access_requests_updated_at BEFORE UPDATE ON public.access_requests FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: announcements tr_announcements_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER tr_announcements_updated_at BEFORE UPDATE ON public.announcements FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: branches tr_branches_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER tr_branches_updated_at BEFORE UPDATE ON public.branches FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: price_groups tr_price_groups_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER tr_price_groups_updated_at BEFORE UPDATE ON public.price_groups FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: users tr_users_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER tr_users_updated_at BEFORE UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: access_requests access_requests_branch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.access_requests
    ADD CONSTRAINT access_requests_branch_id_fkey FOREIGN KEY (branch_id) REFERENCES public.branches(id) ON DELETE SET NULL;


--
-- Name: access_requests access_requests_reviewed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.access_requests
    ADD CONSTRAINT access_requests_reviewed_by_fkey FOREIGN KEY (reviewed_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: access_requests access_requests_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.access_requests
    ADD CONSTRAINT access_requests_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: accounts accounts_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.accounts
    ADD CONSTRAINT accounts_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: announcement_images announcement_images_announcement_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.announcement_images
    ADD CONSTRAINT announcement_images_announcement_id_fkey FOREIGN KEY (announcement_id) REFERENCES public.announcements(id) ON DELETE CASCADE;


--
-- Name: announcements announcements_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.announcements
    ADD CONSTRAINT announcements_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: price_group_images price_group_images_price_group_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.price_group_images
    ADD CONSTRAINT price_group_images_price_group_id_fkey FOREIGN KEY (price_group_id) REFERENCES public.price_groups(id) ON DELETE CASCADE;


--
-- Name: price_group_images price_group_images_uploaded_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.price_group_images
    ADD CONSTRAINT price_group_images_uploaded_by_fkey FOREIGN KEY (uploaded_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: price_groups price_groups_branch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.price_groups
    ADD CONSTRAINT price_groups_branch_id_fkey FOREIGN KEY (branch_id) REFERENCES public.branches(id) ON DELETE SET NULL;


--
-- Name: sessions sessions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_branches user_branches_assigned_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_branches
    ADD CONSTRAINT user_branches_assigned_by_fkey FOREIGN KEY (assigned_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: user_branches user_branches_branch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_branches
    ADD CONSTRAINT user_branches_branch_id_fkey FOREIGN KEY (branch_id) REFERENCES public.branches(id) ON DELETE CASCADE;


--
-- Name: user_branches user_branches_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_branches
    ADD CONSTRAINT user_branches_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_group_access user_group_access_granted_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_group_access
    ADD CONSTRAINT user_group_access_granted_by_fkey FOREIGN KEY (granted_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: user_group_access user_group_access_price_group_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_group_access
    ADD CONSTRAINT user_group_access_price_group_id_fkey FOREIGN KEY (price_group_id) REFERENCES public.price_groups(id) ON DELETE CASCADE;


--
-- Name: user_group_access user_group_access_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_group_access
    ADD CONSTRAINT user_group_access_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_logs user_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_logs
    ADD CONSTRAINT user_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict IXeyuxjWEc8cNXciD28RoDnw4aIJhMrr4rAu5HwId4hyy83qXOv6I4E2qUOI29O

